{% extends "poll/base.html" %}

{% block title %}Home{% endblock %}

{% block main %}

<div class="row" style="text-align: center;">

    <img src="http://www.moyanotelsa.com/themes/sice/images/logo-moyanotelsa.jpg" class="img-fluid" alt="MOYANOTELSA">
   
    
</div>
<br>
<br>

<br>

<div class="row" >
   
            <div class="panel-heading" style="text-align: center;">
                <h3 class="panel-title">GRACIAS POR TU COLABORACION!!!</h3>
                
            </div>
</div>

<div class="row" style="text-align: center;">

<a href="http://www.moyanotelsa.com" class="btn btn-primary">Visita nuestra web!!!</a>
</div>

<br>
<br>


{% endblock %}