{% extends "poll/base.html" %}


{% load static %}



{% block title %}Home{% endblock %}

{% block main %}
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="panel-title">Pulsa en alguna de las opciones</h5>
            </div>

         
      
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <h3>{{ poll.question }}</h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <hr />
                      
                         <form class="leer-forms" method="POST" data-form-id={{poll.id}} >
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="poll" value="option1" required>
                                        {{ poll.option_one }}
                                    </label> &nbsp;
                                    <label>
                                        <input type="radio" name="poll" value="option2" required>
                                        {{ poll.option_two }}
                                    </label> &nbsp;
                                    <label>
                                        <input type="radio" name="poll" value="option3" required>
                                        {{ poll.option_three }}
                                    </label> &nbsp;
                                </div>
                            </div>
           
                        <hr />

                          


                            <button  id="enlace-{{poll.id}}" type="submit" class="btn btn-info">
                                Siguiente
                            </button>
                        </form>
                    </div>
                </div>
            </div>

         
        </div>

   {% include "poll/paginacion.html" %}  
    </div>
</div>
{% endblock %}